.introduction-section {
  width: 100%;
  height: 65.3125rem;
  background-image: url("../../../../assets/imgs/backgrounds/intoduction-bg-1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2.9375rem 13.0625rem 14.25rem 6.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15rem;
}

.introduction-section-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.75rem;
}

.introduction-section-content-heading {
  width: 100%;
  max-width: 42.8125rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}

.introduction-section-content-heading-title {
  font-weight: 700;
  font-size: 3.75rem;
  color: var(--primary-white-color);
}

.introduction-section-content-heading-subtitle {
  font-weight: 400;
  font-size: 1.0625rem;
  color: var(--primary-white-color);
}

.introduction-section-demonstration-link {
  width: 15.6875rem;
}

.bg-image {
  display: none;
}
@media (max-width: 430px) {
  .introduction-section {
    padding: 0;
    height: 100dvh;
    display: block;
    background-image: none;
    position: relative;
    overflow: hidden;
    z-index: 20;
  }
  .introduction-section-content {
    align-items: center;
  }
  .introduction-section-content-heading-title {
    padding: 100px 32px 0 32px;
    text-align: center;
    line-height: 60px;
  }
  .breaker {
    display: none;
  }
  .introduction-section-content-heading-subtitle {
    width: 50%;
    margin: 10px auto 0 auto;
  }
  .bg-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 500px;
    right: 0;
    top: -120px;
    z-index: -10;
    transform: scale(6, 4);
    pointer-events: none;
  }
}

@media screen and (min-width: 120rem) {
  .introduction-section {
    background-position: center center;
  }
}
