.navbar {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
}

.navbar-links-item {
  color: var(--primary-white-color);
  font-size: 1.0625rem;
  font-weight: 400;
}

.navbar-links-item-contrast {
  color: var(--primary-black-color);
}

.navbar-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

.navbar-actions-book-demo-link {
  background-color: var(--secondary-turquoise-color) !important;
  color: var(--primary-turquoise-color) !important;
}

.navbar-insight {
  background-color: var(--primary-blue-color);
  padding: 1.5rem;
}

.menu-icon {
  display: none;
}

.mobile-navbar {
  display: none;
}

@media (max-width: 430px) {
  .navbar-links {
    display: none;
  }
  .navbar-actions {
    display: none;
  }
  .nav-logo {
    width: 169px;
    height: 25px;
  }
  .mobile-provider {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 55px 0;
  }
  .menu-icon {
    background-color: transparent;
    display: block;
  }
  .mobile-menu-container {
    height: 100dvh;
    max-width: 320px;
    width: 100%;
    background-color: #178cae;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
  }
  .mobile-navbar {
    display: flex;
    flex-direction: column;
    gap: 46px;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .mobile-navbar-items {
    color: white;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
  }
  .mobile-menu-button {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    color: white;
  }
}
