.base-input {
  text-align: center;
  background-color: var(--secondary-turquoise-color);
  font-weight: 400;
  font-size: 1.0625rem;
  color: var(--primary-turquoise-color);
  padding: 1.1875rem;
  border-radius: 2.0625rem;
  width: 26.625rem;
}

.base-input::placeholder {
  font-weight: 400;
  font-size: 1.0625rem;
  color: var(--primary-turquoise-color);
}

@media (max-width: 430px) {
  .base-input {
    width: 100%;
    margin-top: 4rem;
    height: 4rem;
  }
  .base-input::placeholder {
    font-size: 1.25rem;
  }
}
