.depth-and-transparency-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 7.1875rem;
}

.depth-and-transparency-section-grid {
  display: grid;
  grid-template-columns: 20.375rem 26.3125rem;
  align-items: center;
  column-gap: 4.1875rem;
}

.depth-and-transparency-section-grid-img {
  width: 100%;
  height: 18.6875rem;
}

.depth-and-transparency-section-grid-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.75rem;
}

.depth-and-transparency-section-grid-content-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.1875rem;
}

.depth-and-transparency-section-grid-content-details-preview {
  font-weight: 400;
  font-size: 1.0625rem;
  color: var(--primary-black-color);
}

.depth-and-transparency-section-grid-content-details-heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.125rem;
}

.depth-and-transparency-section-grid-content-details-heading-title {
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--primary-black-color);
}

.depth-and-transparency-section-grid-content-details-heading-subtitle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
}

.depth-and-transparency-section-grid-content-details-heading-subtitle-item {
  font-weight: 400;
  font-size: 1.0625rem;
  color: var(--black-opacity-50-color);
}

.depth-and-transparency-section-grid-content-read-mode-link {
  width: 13.0625rem;
}

.depth-and-transparency-section-grid-img-container {
  width: 100%;
  height: 100%;
  position: relative;
}

@media (max-width: 430px) {
  .depth-and-transparency-section {
    padding: 100px 51px 90px 51px;
  }
  .depth-and-transparency-section-grid {
    display: flex;
    flex-direction: column-reverse;
    gap: 70px;
  }
  .depth-and-transparency-section-grid-img {
    height: 254px;
    border-radius: 24px;
    width: 328px;
  }
  .depth-and-transparency-section-grid-content {
    max-width: 280px;
  }
  .depth-and-transparency-section-grid-content-details {
    gap: 24px;
  }
  .depth-and-transparency-section-grid-content-details-heading-title {
    line-height: 44px;
  }
  .depth-and-transparency-section-grid-content-details-heading {
    gap: 60px;
  }
  .depth-and-transparency-section-grid-content-details-heading-subtitle-item {
    color: black;
    opacity: 0.5;
    line-height: 18px;
  }
}
